In [2]:
from selenium import webdriver

In [9]:
# 브라우저 실행
driver = webdriver.Chrome()

#url
driver.get('https://www.google.com')

# 브라우저 종료
#driver.quit()

In [10]:
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.webdriver.common.keys import Keys
import time

In [ ]:
driver= webdriver.Chrome() #크롬

driver.get('https://www.google.com') #구글

#검색창 찾기. 
search_box = driver.find_element(By.NAME,'q') 
#검색어
search_box.send_keys('python')
#엔터
search_box.send_keys(Keys.RETURN)

# 결과가 나올때까지 멈춤
time.sleep(30) 

results = driver.find_elements(By.XPATH,'//h3')
print(results)

In [ ]:
driver= webdriver.Chrome() #크롬
url = 'https://news.naver.com/main/list.naver?mode=LSD&mid=sec&sid1=105'
driver.get(url)


# 결과가 나올때까지 멈춤
time.sleep(3) #5초

results = driver.find_elements(By.CSS_SELECTOR,'ul.type06_headline li dt:not(.photo) a')
print(results)
for item in results:
    print(item.text)
    print(item.get_attribute('href'))

driver.quit()

In [10]:
import csv

In [11]:

# 데이터 준비
data = [
['Name', 'Age', 'City'],
['Alice', 30, 'New York'],
['Bob', 25, 'Los Angeles'],
['Charlie', 35, 'Chicago']
]

In [13]:
with open('data1.csv','w',encoding='utf-8',newline='') as file:
    writer = csv.writer(file)
    writer.writerows(data)

print('ok')

ok

In [8]:
import pandas as pd

In [14]:
data = pd.read_csv('data1.csv')
print(data)

      Name  Age         City
0    Alice   30     New York
1      Bob   25  Los Angeles
2  Charlie   35      Chicago

In [15]:
pip install openpyxl

Collecting openpyxl
  Downloading openpyxl-3.1.5-py2.py3-none-any.whl.metadata (2.5 kB)
Collecting et-xmlfile (from openpyxl)
  Downloading et_xmlfile-2.0.0-py3-none-any.whl.metadata (2.7 kB)
Downloading openpyxl-3.1.5-py2.py3-none-any.whl (250 kB)
Downloading et_xmlfile-2.0.0-py3-none-any.whl (18 kB)
Installing collected packages: et-xmlfile, openpyxl

   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   ---------------------------------------- 2/2 [openpyxl]

Successfully installed et-xmlfile-2.0.0 openpyxl-3.1.5
Note: you may need to restart the kernel to use updated packages.

In [18]:
data = {
 'Name': ['Alice', 'Bob', 'Charlie'],
 'Age': [30, 25, 35],
 'City': ['New York', 'Los Angeles', 'Chicago']
 }
df = pd.DataFrame(data)
print(df)

      Name  Age         City
0    Alice   30     New York
1      Bob   25  Los Angeles
2  Charlie   35      Chicago

In [19]:
df.to_excel('data1.xlsx',index=False)
print('ok')

ok

In [23]:
data2 = pd.read_excel('data1.xlsx')
data2

      Name  Age         City
0    Alice   30     New York
1      Bob   25  Los Angeles
2  Charlie   35      Chicago

In [24]:
import json

In [ ]:
# 데이터 준비
data = {
'people': [
{'name': 'Alice', 'age': 30, 'city': 'New York'},
{'name': 'Bob', 'age': 25, 'city': 'Los Angeles'},
{'name': 'Charlie', 'age': 35, 'city': 'Chicago'}
    ]
}

In [ ]:
with open('data1.json','w',encoding='utf-8') as file:
    json.dump(data,file,indent=4) # json은 큰따옴표
print('ok')

ok

In [37]:
with open('data1.json','r',encoding='utf-8') as file:
    data_result = json.load(file)
    print(data_result)
    print(type(data_result))

{'people': [{'name': 'Alice', 'age': 30, 'city': 'New York'}, {'name': 'Bob', 'age': 25, 'city': 'Los Angeles'}, {'name': 'Charlie', 'age': 35, 'city': 'Chicago'}]}
<class 'dict'>

# SQLite : 관계형 데이터 베이스

In [1]:
import sqlite3

In [2]:
conn = sqlite3.connect('first.db')
print('데이터베이스 연결')
conn.close()

데이터베이스 연결

In [3]:
# 관계형 데이터 베이스 : 테이블 구조로 데이터를 저장
# 저장할수 있는 공간 생성 => table 생성
# sql: create table 테이블이름(컬럼이름 데이터 타입 제약조건, 컬럼 타입 제약, 컬럼 타입 제약, ...)
sql_create = '''
create table user(
    id integer primary key autoincrement,
    name text not null,
    age integer,
    city text
)
'''
# 테이블 생성
# 1. 데이터베이스 연결
conn = sqlite3.connect('first.db')
# 2. sql 실행할 수 있는 객체 필요
cursor = conn.cursor()
# 3. sql 실행
cursor.execute(sql_create)

print('ok')
# 4. 연결 종료 
conn.close()

ok

In [ ]:
# 데이터 입력: 행단위 입력 => (이름, 나이, 거주지 )
# sql = insert into user (name, age, city) values (?,?,?)

# 1. 데이터베이스 연결
conn = sqlite3.connect('first.db')

# 2. 데이터 처리
cursor = conn.cursor()
sql_insert= 'insert into user (name, age, city) values (?, ?, ?)'
#cursor.execute(sql_insert, ('son', 20, 'London'))
data = [
    ('son', 20, 'London'),
    ('lee', 22, 'seoul'),
    ('kim', 32, 'BUSAN')
]
cursor.executemany(sql_insert, data)
# 입력 수정 삭제 -> DML
# 완료 여부를 코드로 지정 할수있다. => 물리적인 저장.
conn.commit() # 작업 끝났으니 파일을 저장하라.'
conn.close()

In [16]:
# 질의(검색) : 데이터 검색 -> 행 단위 검색
# sql = select 컬럼 이름들 ,.. from 테이블 이름 [where 컬럼 이름 기준으로 비교 연산]
# 1. 연결 
conn = sqlite3.connect('first.db')
# 2. 데이터 처리
cursor = conn.cursor()
sql_select = 'select id,name, age from user where id >2'

cursor.execute(sql_select)
# select 결과 -> fetchall(), fetchone()
rows= cursor.fetchall()
print(rows)

for row in rows:
    print(row) # tuple 형식의 데이터

conn.close()

[(3, 'kim', 32), (5, 'lee', 22), (6, 'kim', 32)]
(3, 'kim', 32)
(5, 'lee', 22)
(6, 'kim', 32)

In [13]:
# 데이터 수정 : 행 단위 데이터 수정, 
# 행을 찾고 -> 행의 컬럼의 값을  변경(삭제, 입력, 치환)
# sql = update 테이블 이름 set 컬럼이름 = 값, 컬럼 이름 = 값, ... [where 조건식]

# 1. 연결
conn=sqlite3.connect('first.db')
# 2. 데이터 처리
cursor = conn.cursor()
sql_update ="update user set age = ? where id = ?"

cursor.execute(sql_update,(39, 4))

conn.commit()
print('update ok')

conn.close()

update ok

In [15]:
# 데이터의 삭제 : 행단위 삭제
# sql = delete from 테이블이름 where 조건식

conn = sqlite3.connect('first.db')
cursor = conn.cursor()
sql_delete = 'delete from user where id = ?'
cursor.execute(sql_delete,(4,))

conn.commit()
print('delet 4 ok')
conn.close()

delet 4 ok

In [ ]:
# 6월 17일